[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
pyyaml = "*"
djangorestframework = "*"
django-cors-headers = "*"
uritemplate = "*"
pyjwt = "*"
cloudinary = "*"
facebook-sdk = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.7"
